html {
    font-family: Inter, Arial, Helvetica, sans-serif;
}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', Arial, Helvetica, sans-serif; }
}

a {
    // color: #68D89B;
    color: #4F9D69;
}

body {
    color: #121513;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form__input {
    padding: 4px 2px 4px 4px;
    margin-right: 4px;
}

.form__btn--play {
    cursor: pointer;
    background-color: #4F9D69;
    border: none;
    color: white;
    padding: 6px 18px;
    
    &:hover {
        box-shadow: 0 1px 3px 1px rgba(0,0,0,0.35);
    }
    &:focus:active {
        outline: none;
    }
    &:active {
        outline: none;
        background-color: rgba(79, 157, 105, 0.9) ;
    }
}

.page-footer {
    text-align: center;
    padding: 8px 0;
}